* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", "Poppins", sans-serif;
  background: linear-gradient(180deg, #ffeef179, #ffdde36e);
  color: #5b5a5af0;
  line-height: 1.6;
  padding: 1rem;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  background-color: #f84c8083;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

header h1 {
  font-size: clamp(1.8rem, 4vw, 2.6rem);
  color: hwb(30 99% 0% / 0.738);
}

header p {
  color: #666;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

form {
  background: #fff;
  padding: 1.8rem;
  border-radius: 20px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.08);
  border: 2px solid #f5bfde;
}

form h2 {
  color: #fa5295bd;
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #565454;
}

input, textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 10px;
  border: 2px solid #fc809b88;
  background-color: #fff;
  font-size: 1rem;
  transition: 0.3s;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #f03894;
  box-shadow: 0 0 6px rgba(236,72,153,0.4);
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

//kartu hewan
.card {
  background: #f8f6f6c2;
  border-radius: 30px;
  padding: 1rem;              
  text-align: center;
  box-shadow: 0 8px 24px rgba(236,72,153,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;                   
  max-width: 600px;            
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 28px rgba(234, 174, 204, 0.725);
}

//gambar kartu
.card img {
  max-width: 230px;             
  border-radius: 50%;
  border: 7px solid #fb4e96;
  margin-bottom: 1.2rem;
}

//teks kartu
.card h2 {
  color: #f8428e;
  font-size: 2rem;        
}

.card p {
  color: #424242;
  font-size: 1.2rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem ;   
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color:#f84c8083;
  font-size: 0.9rem;
  color: #444444;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}